<center><h3 style="color:green;"  >New course</h1>

<%= render "form", course1: @course1 %>

<br>

<div>
  <%= link_to "Back to course1s", course1s_path, class: "btn btn-dark btn-sm" %>
</div>
</center>