<p style="color: green"><%= notice %></p>
<div>
  <div class="row">
    <div class="col-lg-6">
      <%= render @course1 %>
    <div class="col-lg-6">
    <%= link_to "Add Lesson", new_course1_lesson1_path(@course1, @lesson1) %>
    <% @lesson1s.each do |lesson| %>
      <%= render "lesson1s/lesson", lesson1: lesson %><br>
    <% end %>
  </div>
</div>