<div id="<%= dom_id lesson1 %>">
  <p>
    <strong>Title:</strong>
    <%= lesson1.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= lesson1.content %>
  </p>

  <p>
    <strong>Course1:</strong>
    <%= lesson1.course1_id %>
  </p>

</div>
